.nodes_wrap {
  height: 15rem;
  background-color: #f7f7f7;
  width: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  // background-color: red;
  padding: 4rem 5rem;
  border-bottom: 1px solid #e6e7e6;
}

.node {
  @include border-radius(100%);
  background-color: red;
  height: 0;
  width: 5%;
  padding-bottom: 5%;
  display: inline-block;
  margin-right: 2.5%;
  background-image: url('http://placecage.com/500/500');
  background-size: cover;

  &:after {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #e7e6e7;
    display: block;
    position: absolute;
    top: 0;
    right: -30%;
  }
  &:first-child {
    &:before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #e7e6e7;
    display: block;
    position: absolute;
    top: 0;
    left: -30%;
    }
  }
}
.node_alias {
  text-align: center;
  margin-top: 120%;
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: bold;
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;

}